div {
  margin: 5px;
}

button,
input {
  border-radius: 5px;
  padding: 7px;
}

button {
  cursor: pointer;
}

#messages {
  background-color: lightgreen;
  max-width: 500px;
  padding: 10px;
}

#mustache-message {
  padding: 13px;
  border: solid 1px white;
}
