@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', serif;
}

div {
  margin: 5px;
}

button,
input {
  border-radius: 5px;
  padding: 7px;
}

button {
  cursor: pointer;
}

#messages {
  background-color: lightgreen;
  max-width: 500px;
  padding: 10px;
}

#mustache-message {
  padding: 13px;
  border: solid 1px white;
}

#mustache-message p {
  display: inline;
}

#time {
  color: grey;
}

#user-connections {
  display: inline;
  color: orange;
}
